<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    
    <h1> May Node and Express be with you.</h1>

    <form action="/quotes" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="quote" name="quote">
        <button type="submit">Submit</button>
    </form>
    <h2>Quotes</h2>
    <ul class="quotes">
        <!-- loop through the quotes -->
        <% for(let i = 0; i < quotes.length; i++) {%>
            <li class="quote">
                <!-- output name from the iterated quote object -->
                <span><%= quotes[i].name %></span>:
                <!-- output quote from the iterated quote object -->
                <span><%= quotes[i].quote %></span>
            </li>
\        <% } %>
    </ul>
    <div id="message"></div>
    <div>
        <h2>Darth Vader Invades!</h2>
        <p>
            Replace first quote with a quote written by Darth Vader
        </p>
        <button id="update-button">Replace yoda's quote</button>
    </div>
    <div>
        <h2>Remove Darth Vader!</h2>
        <p>
            Delet one Darth Vader's quote. Does nothing if there are no more Vader Quotes
        </p>
        <button id="delete-button">Delete Darth Vader's quote</button>
    </div>
</body>
<script src="/main.js"></script>
</html>